body { font: 10pt Verdana, sans-serif; }
.header { text-align: center; width: 100%; }
.updateStatus { font-size: 12.5pt; color: red; }
hr { margin: 1.0em 0; height: 1px; border: 0; color: #000; background: #000; }
#documentName { font-size: 12.5pt; }
table { border-collapse: collapse; width="50%";}
th, td { border: 1px solid #333; padding: 3px; vertical-align: top; text-align: left; }
th { font: bold 10pt Verdana, sans-serif; background: #d0d0d0; }
td { font: 10pt Verdana, sans-serif; }
img { border: 0; }
div.smoke { float: left; }
div.regression { float: left; margin-left: 20px; }
